<h1>Sorgente Login</h1>

<!-- change the color of this flash -->
<p><%= flash[:error] %></p> 

<%= form_for(:user) do |f|%>
    <div>
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>
<!-- do we even need email to login?  

    <%= f.label :email %>
    <%= f.email_field :email %>
-->
    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>
    <%= f.submit "Login!" %>

<%end%>