<%= render partial: 'layouts/errors', locals: {object: @resource} %>

<%= form_for @resource do |f|%>

    <div>
        <%= f.hidden_field :site_name %>
    </div> 

    <div>
        <%= f.label :url %>
        <%= f.text_field :url %>
    </div>
    <div>
        <%= f.hidden_field :description %>
    </div>

    <p>Select Topic</p>
    <div>
        <%= f.collection_select :topic_id, Topic.all, :id, :name, include_blank: 'Select One' %>
    </div>
    <p>Create a Topic Not Listed</p>
    <div>
        <%= f.fields_for :topic do |t| %>
            <%= t.label :name %>
            <%= t.text_field :name %>
        <% end %>
    </div>

    <%= f.submit "Submit Resource", class: "btn btn-primary" %>

<% end %>