<ul>
    <% @resources.each do |r| %>
    <h3><li><%= link_to r.site_name,  resource_path(r.id)%> </li></h3>
        <ul>
            <li><%= r.description %> </li>
        </ul>
    <div >
         <% if can? :update, r %>
            <%= link_to edit_resource_path(r.id) do%>
                <button type="button" class="btn btn-primary">Edit Resource</button>
            <%end%>
        <% end %>
       
        <% user_review = r.reviews.find_by(user_id: current_user.id) %>
            <% if !user_review %>
                <%= link_to new_resource_review_path(r.id) do%>
                    <button type="button" class="btn btn-primary">Add Review</button>
                <%end%>
            <% else %>
                 <% if can? :update, user_review %>
                    <%= link_to edit_review_path(user_review.id) do %>
                        <button type="button" class="btn btn-primary">Edit Review</button> 
                    <% end %>
                <% end %>
            <% end %>
    </div> 
    <% end %>
</ul>

<%== pagy_bootstrap_nav(@pagy)%>