<h1>All Resources</h1>

<br/ >
<a href="resources/most-reviewed" class="btn btn-primary" role="button" aria-disabled="true">Most Reviewed</a> 
<br/ >

<br/ >
    <%= form_tag("/resources", method: 'get') do %>
    <!-- get request to keep params in the url to make search shareable and also because we already post to /resources when we create a new one -->
        <%= label_tag(:q, "Search for:") %>  
        <%= text_field_tag(:q) %>
        <%= submit_tag("Find It!") %>
    <% end %>
<br />

<%= %>


<%= render partial: 'resources_index'%>