<h1>All Resources</h1>

<% @resources.each do |r| %>
<p>
<%= link_to r.site_name,  resource_reviews_path(r.id)%> 
</br>
<%= r.description %>
<%= %>
 
<!-- 
<% object = LinkThumbnailer.generate(r.url)%>
  <h2>  <%= object.title %> </h2>
   <div> 
    <a href="<%= r.url %>"> <img src="<%= object.images.first %>"/></a> 
   </div>
   
    <p> <%= object.description %> </p>
        -->
    <%= link_to "Add Review", new_resource_review_path(r.id)%>

<% end %>