<div class="jumbotron">
    <div class="container">
        <% object = LinkThumbnailer.generate(@resource.url) %>
            <h1 class="display-3"> <%= object.title %> </h1>
                <p> <%= object.description %> </p>
        <%= link_to @resource.url do %>
            <button type="button" class="btn btn-primary">Learn More</button>
        <% end %>
        <p>Added by: <%= link_to @resource.user.username, user_path(@resource.user)%> </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <% @resource.reviews.each do |r| %>
            <div class="col-md-4">
                 <h2 class="card-title"><%= r.title %></h2>
                    <p class="card-text"><%= r.comment %>
                    </p>
                        <p class="card-text"><%= r.stars %>
                        </p>
            </div>
        <% end %>
    </div>
</div> 

<div class="container">
    <div class="row">
        <% object = LinkThumbnailer.generate(@resource.url) %>
            <div class="col-md-4">
                 <h2> <%= object.title %></h2>
                    <p> <%= object.description %> </p>
                         <a href="<%=@resource.url%>"><img src="<%= object.images.first %>"/>
            </div>
    </div>
</div> 



<% if @resource.user == current_user %>
    <%= link_to edit_resource_path(@resource) do %>
        <button type="button" class="btn btn-primary">Edit Resource</button>
    <% end %>
<%end%>


<% user_review = @resource.reviews.find_by(user_id: current_user.id) %>
 
<% if !user_review %>
    <%= link_to new_resource_review_path(@resource) do%>
        <button type="button" class="btn btn-primary">Add Review</button>
    <%end%>
<% end %>