<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <% object = LinkThumbnailer.generate(@resource.url) %>
            <h1 class="display-3"> <%= @resource.site_name %> </h1>
                <p> <%= @resource.description %> </p>
            </div>

            <div class="col-md-6">
                <a href="<%= @resource.url%>"><img src="<%= object.images.first %>" class="img-thumbnail" alt=""> 
            </div>

            <div>
                <%= link_to @resource.url do %>
                    <button type="button" class="btn btn-primary">Learn More</button>
                <% end %>
            </div>
            
            <div> <small class="text-muted">Added by: <%= link_to @resource.user.username, user_path(@resource.user)%></small>
            </div>
        </div>
    </div>
</div>


    <span class="heading">User Rating</span>
    <%= render partial: "reviews/stars", locals: { stars: @resource.avg_user_rating } %>


 <% if can? :update, @resource %>
    <%= link_to edit_resource_path(@resource) do %>
        <button type="button" class="btn btn-primary">Edit Resource</button>
    <% end %>
<%end%>


<% user_review = @resource.reviews.find_by(user_id: current_user.id) %>
 
<% if !user_review %>
    <%= link_to new_resource_review_path(@resource) do%>
        <button type="button" class="btn btn-primary">Add Review</button>
    <%end%>
<% end %>

<%= link_to resource_reviews_path(@resource.id) do%>
    <button type="button" class="btn btn-primary">Read all Reviews</button>
<%end%>
