<% if params[:resource_id] %>
    <h1>All Reviews for <%= @resource.site_name %></h1>
<% else %>
    <h1> All Reviews </h1> 
<% end %>

<!-- Container -->
<div class="container">
    <div class="row"> 
        <% @reviews.each do |r| %>
        <!-- Card -->
        <div class="col-md-4 border-primary">
            <div class="card h-100">
            <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                            alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--Card content-->
                <div class="card-body">

                        <!--Title-->
                    <h4 class="card-title"><%= r.title%></h4>
                        <!--Text-->
                    <p class="card-text"><%= r.comment %></p>
                    <p class="card-text"><%= r.stars %>/5 Stars</p>
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <%= link_to review_path(r.id) do%>
                        <button type="button" class="btn btn-secondary">Read more</button>
                    <% end %>
                </div>
                     <!--Card footer-->
                <div class="card-footer">
                    <small class="text-muted">Submitted <%=r.created_at.strftime("%m/%d/%Y") %> by: <%= link_to r.user.username, user_path(r.user)%> </p></small>
                </div>
                        
            </div>
            
        </div>
        <!-- Card -->
        <% end %>
    </div>
</div>
