<h1>Add Review for **NEED TO ADD RESOURCE NAME??** </h1>

<%= form_for @review do |f|%>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :comment %>
        <%= f.text_area :comment, size: "20x10" %>
    </div>
    <div>
        <%= f.label :stars %>
        <%= f.number_field :stars, min:0, max:5 %>
    </div>
        <%= f.hidden_field :resource_id %>

    <%= f.submit %>

<% end %>