<h1>REVIEW SHOW PAGE</h1>

<h2> <%=@review.resource.site_name %></h2>
<h2> <%=@review.title %></h2>
<p> <%=@review.comment %></p>
<p> <%=@review.stars %> </p>

 <% if can? :update, @review %>
    <%= link_to edit_review_path(@review.id) do %>
        <button type="button" class="btn btn-primary">Edit Review</button> 
    <% end %>
<% end %>